body{
	margin: 0;
}
.header h2, h2{
	color: #fff;
}

.main-content,
.left-sidebar{
	background-color: #7ed6df;
	min-height: 600px;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a,a:hover{
	text-decoration: none;
}
.left-sidebar li{
	margin: 10px 0;
	text-align: center;
}
.left-sidebar li a{
	background-color: #16a085;
	display: block;
	color: #000;
	padding: 2px;
	font-weight: 600;
}

